<div><todo-form new-todo="$ctrl.newTodo" on-add="$ctrl.addTodo($event);"></todo-form><todo-alert todos-ammount="$ctrl.todos.length"></todo-alert><todo-list todos="$ctrl.todos" on-complete="$ctrl.completeTodo($event);" on-delete="$ctrl.removeTodo($event);"></todo-list></div>